.button{
    color: white;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-right: 300%;

    @media screen and (max-width: 450px) {
        margin-right: 200%;
      }
}
