.containment{
    padding-left: 5%;
   padding-top: 5%;
    background-color: white;
    width: 70%;
    margin-left: 20%;
    height: 1600px;
}



// .space{
//    float: right;
    
//     textarea{
   
//         width: 50%;
//         height: 7em;
//     }

//     input{
//         margin-bottom: 3.5%;
//     }

// }

.post{
    width: 70%;
    height: 25em;
    border: 1px black solid;
    position: relative;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    overflow: scroll;

}

.post:before{
    
    position: absolute;
    right: 100%;
    top: 100px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid violet;
    border-bottom: 13px solid transparent;
}

.userImage{
    
    height: auto;
    width: 8%;
    float: left;
}

// .comment{
//     margin-left: 5% 

// }



  #comments {
    background-color:#FFF;
    padding:1rem 2rem;
  }
  .comment {
    position:relative; 
    margin:2rem 0 0 0;
    background-color:#EEE; 
    border:2px solid #AAA; 
    -webkit-border-radius:0.25rem; 
    -moz-border-radius:0.25rem; 
    border-radius:0.25rem; 
    font-size:10pt;
  }
  .username {
    position:absolute;
    top:-1.5em;
    left:0;
    margin-left:2rem;
    font-weight:bold;
  }
  .comment p {
    margin:0.5rem 0.5rem 0.5rem 2rem;
  }
  .avatar {
    position:absolute; 
    max-width:3rem; 
    max-height:3rem; 
    border:2px solid #AAA; 
    -webkit-border-radius:1.5rem; 
    -moz-border-radius:1.5rem; 
    border-radius:1.5rem; 
    top:-1.5rem; 
    left:-1.5rem;
  }