.carousel{
    height: 45em;
}
.right.carousel-control, .left.carousel-control {
    display: none;
}
.cardBody{
    background-color: white;
    padding: 3em;
    border-radius: 3px;
}

.images{
    
    height: 30em;
    width: 100%;
}

// removes arrow
.arrow{
    opacity: 0;
   
}
