.linkContainer{
    padding: 1em;
a{
    color: palevioletred;
    text-transform: uppercase;

}
}

body {
    background:#121212;
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.root {
    height: 100vh;
}
.right.carousel-control, .left.carousel-control {
    display: none;
}