.linkContainer{
    padding: 1em;



a{
    color: palevioletred;
    text-transform: uppercase;

}
}

body {
    background:linear-gradient( #333536, #131618);
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.root {
    height: 100vh;
}
.right.carousel-control, .left.carousel-control {
    display: none;
}