.form {
    color: white;
    margin: 0 auto;
}
.form h1{
    color: white;
}
.input {
    color: black;
    margin: 0 auto;
    border-radius: 5px;
    width: 21em;
    height: 2em;
    font-size: 24px;
}
.inputName {
    color: black;
    margin: 0 auto;
    border-radius: 5px;
    width: 20em;
    height: 2em;
    font-size: 24px;
}