@import "../variables";

.pageNumber{
    position: relative;
    font: bold 200px arial, sans-serif;
    left: 50%;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.maskedTextLogo{
    color: transparent !important;
    background: $logoBackground;
    background-size: cover;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-size: 3em;
}