.button{
    color: white;
    text-decoration: none;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 5px;
    float: right;
    margin-top: 28px;
    border-radius: 20px;
    width: 6em;
    text-align: center;
}
