.body {
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}

.heading {
    color: white;
}


.avatar {
    color: black;
    margin: 1em;
    border-radius: 5px;
    width: 40%;
    height: 2.5em;
    padding: 0 0.5em;
    font-size: 24px;
}

.handle {
    color: black;
    margin: 1em;
    border-radius: 5px;
    width: 40%;
    height: 2.5em;
    padding: 0 0.5em;
    font-size: 24px;
}

// .bodyTwo {
//     overflow: hidden;
//     text-align: center;
// }

.twitterTwo {
    color: black;
    margin: 1em;
    border-radius: 5px;
    width: 40%;
    height: 2.5em;
    padding: 0 0.5em;
    font-size: 24px;
}

.instagramTwo {
    color: black;
    margin: 1em;
    border-radius: 5px;
    width: 40%;
    height: 2.5em;
    padding: 0 0.5em;
    font-size: 24px;
}


.twitchTwo {
    color: black;
    margin: 1em;
    border-radius: 5px;
    width: 40%;
    height: 2.5em;
    padding: 0 0.5em;
    font-size: 24px;
}

.youtubeTwo {
    color: black;
    margin: 1em;
    border-radius: 5px;
    width: 40%;
    height: 2.5em;
    padding: 0 0.5em;
    font-size: 24px;
}

.button {
    background-color: purple;
    color: white;
    padding: 1em;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
}

.bg{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.move {
    padding-top: 4em;
}